<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./Styles/style.css">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <title>Start Game</title>
</head>

<body class="fullscreen-center">
    <div id="appQR" class="d-flex flex-column justify-content-center align-items-center">
        <!-- <div id="app" class="d-flex flex-column justify-content-center align-items-center "> -->
        <div>
            <img src="/img/bloodTL.png" alt="Blood Splatter top left corner" class="splatter top-left">
            <img src="/img/bloodTR.png" alt="Blood Splatter top right corner" class="splatter top-right">
            <img src="/img/bloodBL.png" alt="Blood Splatter bottom left corner" class="splatter bottom-left">
            <img src="/img/bloodBR.png" alt="Blood Splatter top right corner" class="splatter bottom-right">
        </div>

        <!--QR-->
        <div v-if="!qrCodeUrl" style="align-items: center; margin-top: 25%; margin-bottom: auto;">
            <button id="qrBtn" class="btn btn-primary p-4" @click="getQR" style="font-size:x-large">Generate QR
                Code</button>
        </div>

        <div v-if="qrCodeUrl" class="mt-5">
            <h2>Scan to join</h2>
            <h2>Pulse Murderer!</h2>
            <img :src="qrCodeUrl" id="qrCodeImage" alt="QR Code">
        </div>
    </div>

    <!--Lobby-->
    <div id="app" class="d-flex flex-column justify-content-center align-items-center ">
        <div class="content container mt-4">
            <h2 class="text-center mt-5">Waiting for players...</h2>
            <div class="d-flex flex-wrap justify-content-center">
                <div v-for="player in Players" :key="player.id" class="text-center m-3">
                    <div>
                        <img src="/img/avatar.png" alt="Avatar" class="rounded-circle"
                            style="width: 50px; height: 50px;">
                        <p>{{ player.name }} {{player.isMurderer}} {{player.isAlive}}</p>

                    </div>
                </div>
            </div>

            <button class="btn btn-success mt-4" @click="startGame">Start Game</button>
            <button class="btn btn-danger mt-4 ml-2" @click="resetMurder">Reset</button>
                <div id="data" hidden>
                </div>
        </div>
    </div>
    <script src="./Scripts/QR.js"></script>
    <script src="./Scripts/index.js"></script>
</body>

</html>
