<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Start Game</title>
</head>

<body>
    <div id="app" align="center">

        <div v-if="!qrCodeUrl" style="align-items: center; margin-top: 25%; margin-bottom: auto;">
            <button id="qrBtn" class="btn btn-primary p-4" @click="getQR" style="font-size:x-large">Generate QR Code</button>
        </div>

        <div v-if="qrCodeUrl" class="mt-5">
            <img :src="qrCodeUrl" id="qrCodeImage" alt="QR Code" />
            <h2>Scan to join</h2>
            <h2>Pulse Murderer!</h2> 
        </div>
    </div>

    <script src="QR.js"></script>
</body>

</html>