.player-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: hidden;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(223, 220, 219); color: black;
}

.splatter {
    position: absolute;
    width: 18vw;         /* or use width: 18%; if parent is 100vw */
    min-width: 10%;      /* minimum 10% of parent width */
    max-width: 30%;      /* maximum 30% of parent width */
    height: auto;
    z-index: 1;
    pointer-events: none;
}

/* On very large screens (like TVs), allow a bigger max */
@media (min-width: 1200px) {
    .splatter {
        max-width: 350px;
    }
}
/* On small screens (phones), allow a smaller max */
@media (max-width: 600px) {
    .splatter {
        width: 32vw;
        min-width: 40px;
        max-width: 100px;
    }
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    /*padding: 2rem;*/
}

.voteButton {    
    background-color: #610404;
    color: white;
}
.chosenButton {
    background-color: #408c37;
    color: white;
}
#nextRoundBtn {
    background-color: #254caf;
    color: white;
}

.dead {
    background-color: #ad0101;

    color: white;
}

.fullscreen-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.table td, .table th {
    vertical-align: middle !important;
    text-align: center;
}